# ==========================================
# 0. 后端本地配置（每个人环境不同）
# ==========================================
my.ini
start-mysql.bat
stop-mysql.bat
application-prod.yml

# ==========================================
# 1. 全局与系统文件忽略
# ==========================================
.DS_Store
Thumbs.db
*.log
*.swp
.idea/
.vscode/

# ==========================================
# 2. 前端 (Uni-app / Vue / Node.js) 忽略
# ==========================================
frontend/node_modules/
frontend/unpackage/
frontend/.sourcemaps/
frontend/.hbuilderx/

# ==========================================
# 3. 后端 (Java / Spring Boot / Maven) 忽略
# ==========================================
backend/target/
backend/*.compiled
backend/.classpath
backend/.project
backend/.settings/
backend/*.hprof
backend/*.pfx

# ==========================================
# 4. 数据组 (Python / 爬虫) 忽略
# ==========================================
crawler/__pycache__/
crawler/*.pyc
crawler/*.pyo
crawler/*.pyd
crawler/.venv/
crawler/venv/
crawler/ENV/
crawler/.pytest_cache/
